<h1>Posts#show</h1>

<%= turbo_frame_tag :posts do %>
  <strong><%= @post.title %></strong>
  <p><%= @post.content %></p>

  <%= link_to "Back", posts_path, data: { turbo_frame: :_top } %>
<%- end %>
